# This file defines the additional requirements for a developer working
# with this project (e.g. for testing or useful development tools).
# The regular project dependencies are defined in requirements.txt

# testing
pytest~=5.4.0
pytest-cov~=2.8.0

# documentation
sphinx~=3.0.4
sphinx_rtd_theme~=0.4.3
recommonmark~=0.6.0
m2r~=0.2.1

# publishing
wheel
twine

# git hooks
pre-commit~=2.2.0
