name: build

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
      - '*.md'
  pull_request:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
      - '*.md'

jobs:

  linting:
    name: Run Linters
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v3
        with:
          path: .venv
          key: venv-lint-${{ hashFiles('**/poetry.lock') }}
      - name: Install dependencies
        run: poetry install --only=linter --no-interaction
      # run linters (all config is in pyproject.toml)
      - name: Check for security issues with bandit
        run: poetry run bandit -r src
      - name: Check for code style violations with ruff
        run: poetry run ruff check .
      - name: Check for well-formatted import statements with isort
        run: poetry run isort src

  build-and-test:
    name: Build and Test (Python ${{ matrix.python-version }} on ${{ matrix.os }})
    strategy:
      matrix:
        python-version: [ '3.8', '3.11' ]
        os: [ 'ubuntu-latest', 'windows-latest' ]
    defaults:
      run:
        shell: bash
    runs-on: ${{ matrix.os }}
    steps:
      # check-out repo and set-up python
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      # install & configure poetry
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
      # load cached dependencies, if cache exists, and install dependencies
      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v3
        with:
          path: .venv
          key: venv-test-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}
      # install the project
      - name: Install dependencies
        run: poetry install --only=main,test --no-interaction
      # testing with pytest
      - name: Run tests
        run: poetry run pytest
      # upload a distribution package
      - name: Build a distribution package (wheel)
        run: poetry build
      - name: Store distribution package
        uses: actions/upload-artifact@v2
        with:
          name: personio-py_${{ matrix.python-version }}_${{ matrix.os }}
          path: dist/
