name: docs-verify

on:
  pull_request:
    branches:
      - master
    paths:
      # on documentation change (changelog & contribution guidlines are a part of that)
      - 'docs/**'
      - 'CHANGELOG.md'
      - 'CONTRIBUTING.md'
      # also when docstrings in the source code change
      - 'src/**'

jobs:
  docs:
    name: Generate Sphinx Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install Poetry
        run: pip install poetry
      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v3
        with:
          path: .venv
          key: venv-docs-${{ hashFiles('**/poetry.lock') }}
      - name: Install dependencies
        run: poetry install --only=main,docs --no-interaction
      - name: Generate Sphinx Documentation
        run: |
          source .venv/bin/activate
          cd docs
          make html SPHINXOPTS="-W --keep-going"
      - uses: actions/upload-artifact@v2
        with:
          name: sphinx-docs
          path: docs/build/html/
