name: Sphinx Docs

on:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: ammaraskar/sphinx-action@master
      with:
        build-command: "sphinx-build -b html . build"
        pre-build-command: "pip install sphinx_rtd_theme~=0.4.3 recommonmark~=0.6.0 m2r~=0.2.1"
        docs-folder: "docs/"
    - uses: actions/upload-artifact@v2
      with:
        name: sphinx-docs
        path: docs/build/html/
